.Hero {
  // overflow:auto;

  &__wrapper {
    display: flex;
    width: calc(100% - 2rem);
    gap: 2rem;
    flex-direction: row;
    margin-top: 28px;
    flex-wrap: nowrap;
    overflow: auto;
    padding-inline: 1rem;
    max-width: 1440px; // responsive screen barrier
    margin-inline: auto; // centers content in the middle of the screen

    @media screen and (max-width: 768px) {
      flex-direction: column;
      margin-top: 0px;
    }
  }

  &__video--wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    overflow: hidden;
  }

  &__video {
    width: 90%;
    height: 100%;
    margin-top: 25px;
    object-fit: fill;
    transform: scale(1.7, 1.8);
    
  }

  &__sideImage--container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 100px;
    align-items: center;
    &::-webkit-scrollbar {
      // remove scrollbar
      width: 0px;
    }
    @media screen and (max-width: 768px) {
      flex-direction: row;

      overflow-x: auto;
      order: 1;
    }
  }

  &__sideImage {
    width: 200px;
    height: 200px;
    object-fit: contain;
  }

  .Hero__sideImage--container:nth-of-type(2) {
    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  &__bottomText--container {
    padding-inline: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      width: 100%;     
      text-align: center;
      font-size: clamp(20px, 4vw + 0.5rem, 45px);
      line-height: 48px;
      font-family: "canter-bold";
      color : rgb(15, 3, 61);
    }
      @media screen and (max-width: 768px) {
        padding-inline: 1rem;
      }
  }
}
