:root{
  --primary-color : #3fadf1;
}

@font-face {
   font-family: "canter-bold";
  src:
    url("./assets/fonts/canter/Canter Bold.otf")
  }
@font-face {
   font-family: "canter-light";
  src:
    url("./assets/fonts/canter/Canter Light.otf")
  }
@font-face {
   font-family: "canter-outline";
  src:
    url("./assets/fonts/canter/Canter Outline.otf")
  }

  @font-face {
   font-family: "canter-extrabold";
  src:
    url("./assets/fonts/canter/Canter Bold 3D.otf")
  }
  
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
